<% include header %>

<html>
<style>
    p{
        text-align: center;
    }
</style>


    <p><b>Purpose</b><br/>
    Hospital Name is a place for staff members and doctors to retrieve, edit, <br />and delete information about doctors and patients.
        <br />
    </p>
<br />
    <p><b>Company</b> <br />
        Created by Lisa Churchman to create a simple and user friendly way to access<br/> information for a specific hospital.
    </p>
<br />
    <p><b>Contact</b>
        <br />
        Phone Number <i>555.123.4567</i><br/>
        Email <i>hospital@hospital.com</i>
    </p>


</html>


<% include footer %>